/output/dogsvscats/inceptionresnetv2/*
!/output/dogsvscats/inceptionresnetv2/Figure_1.png
!/output/dogsvscats/inceptionresnetv2/results.txt
/output/dogsvscats/inceptionv3/*
!/output/dogsvscats/inceptionv3/Figure_1.png
!/output/dogsvscats/inceptionv3/results.txt
/output/dogsvscats/mobilenet/*
!/output/dogsvscats/mobilenet/Figure_1.png
!/output/dogsvscats/mobilenet/results.txt
/output/dogsvscats/resnet50/*
!/output/dogsvscats/resnet50/Figure_1.png
!/output/dogsvscats/resnet50/results.txt
/output/dogsvscats/vgg16/*
!/output/dogsvscats/vgg16/Figure_1.png
!/output/dogsvscats/vgg16/results.txt
/output/dogsvscats/vgg19/*
!/output/dogsvscats/vgg19/Figure_1.png
!/output/dogsvscats/vgg19/results.txt
/output/dogsvscats/xception/*
!/output/dogsvscats/xception/Figure_1.png
!/output/dogsvscats/xception/results.txt
